@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --branco: #ffffff;
    --brancoAcinzentado: #f1f1f1;
    --cinzaClaro: #d5d5d5;
    --creme: #f3f4e5;
    --azul: #a1c1be;
    --cinza: #808080;
    --cinzaAzulado: #565555;
    --marromAcinzentado: #59554e;
    --cinzaEscuro: #474747;
    --preto: #000000;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    overflow-x: hidden;
}

a {
    cursor: default;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cubos {
    min-width: 20px;
    min-height: 20px;
    background-color: var(--azul);
    position: absolute;
    bottom: 0;
    animation: subir 4s linear infinite;
}

@keyframes subir {
    0% {
        transform: translateY(10vh);
    }
    100% {
        transform: translateY(-100vh);
    }
}

#carousel-container {
    width: 1110px;
    height: 176px;
    overflow: hidden;
    border-radius: 150px;
}

#carousel {
    display: flex;
    transition: transform 500ms ease-in-out;
}

.carousel-item {
    min-width: 158px;
    min-height: 150px;
    margin: 10px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#html-box, #css-box, #js-box, #angular-box, #php-box, #bs-box, 
#sass-box {
    color: var(--branco);
    width: 150px;
    height: 150px;
    border: 4px solid var(--marromAcinzentado);
    box-shadow: 0px 0px 10px var(--marromAcinzentado);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 350ms ease-in-out;
}

#html-box:hover, #css-box:hover, #js-box:hover, #angular-box:hover, 
#php-box:hover, #bs-box:hover, #sass-box:hover {
    scale: 1.05;

}

#html-box {
    background-color: #D2691E;
}

#css-box {
    background-color: #1572B6;
}

#js-box {
    background-color: #F7DF1E;
}

#angular-box {
    background-color: #DD0031;
}

#php-box {
    background-color: #4F5D95;
}

#bs-box {
    background-color: #563D7C;
}

#sass-box {
    background-color: #CC6699;
}

.carousel-item div i {
    font-size: 80px;
}

#prev, #next {
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#next {
    margin-left: 25px;
}

#prev {
    margin-right: 25px;
}

.container {
    width: 80vw;
}

#home, #descricao {
    display: flex;
    justify-content: center;
}

#apresentacao {
    margin-top: 30vh;
}

#apresentacao p {
    font-size: 28px;
    color: var(--cinza);
    font-weight: 600;
}

#apresentacao h1 {
    font-size: 54px;
    color: var(--marromAcinzentado);
    line-height: 60px;
}

#seta {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    text-decoration: none;
    margin-top: 45vh;
    animation: mover-para-cima-e-para-baixo 1.5s ease infinite;
    transition: all 350ms ease;
}

#seta i {
    color: #565555;
    height: 60px;
    cursor: pointer;
}

@keyframes mover-para-cima-e-para-baixo {
    0%, 100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    50% {
      transform: translateY(-50px);
      animation-timing-function: ease-in-out;
    }
}

#habilidades {
    background-color: var(--cinzaClaro);
    height: 500px;
    width: 100%;
    margin-top: 6vh;
    box-shadow: 0px -4px 6px var(--cinzaClaro);
}

#habilidades .container {
    width: 100%;
    height: 100%;
    display: flex;
}

#projetos {
    background-color: var(--cinzaClaro);
    height: 800px;
    width: 100%;
}

#projetos .container {
    width: 100%;
    height: 100%;
    display: flex;
}

.box-one {
    width: 40%;
    color: var(--cinzaAzulado);
    font-size: 150px;
    margin: 30px 0px 50px 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-two {
    width: 50%;
    margin: 30px 80px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box-two h2 {
    color: var(--cinzaEscuro);
    font-size: 30px;
    margin-bottom: 28px;
}

.box-two p {
    color: var(--cinzaAzulado);
    font-size: 22px;
    font-weight: 500;
}

#habilidade-box {
    background-color: var(--branco);
    height: 220px;
    border-radius: 150px;
    border: 2px solid var(--azul);
    box-shadow: 0px 0px 15px 4px var(--azul);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 350ms ease-in-out;
}

#hTittle {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

#pTittle {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#hTittle h2 {
    color: var(--cinzaEscuro);
    width: 212px;
    font-size: 38px;
    border-bottom: 3px solid var(--cinzaEscuro);
}

#pTittle h2 {
    color: var(--cinzaEscuro);
    width: 152px;
    font-size: 38px;
    border-bottom: 3px solid var(--cinzaEscuro);
}

.box {
    width: 100%;
    margin: 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box button {
    color: var(--cinzaAzulado);
    height: 50px;
    background-color: transparent;
    font-size: 46px;
}

.div-dados {
    width: 300px;
    height: 200px;
    background-color: var(--brancoAcinzentado);
    border-radius:0px 26px 26px 26px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 2px solid var(--cinzaEscuro);
    box-shadow: 0px 0px 10px 1px var(--cinza);
}

#html-h3 {
    font-family: 'Kalam', cursive;
    color: #D2691E;
    line-height: 42px;
    font-size: 36px;
}

#html-p {
    margin-bottom: 8px;
}

#html-barra {
    width: 80%;
    height: 20px;
    background-color: var(--cinzaClaro);
    border: 1px solid var(--cinza);
    border-radius: 10px;
    display: flex;
}

#html-progresso {
    background-color: #D2691E;
    width: 90%;
    border-radius: 10px 0px 0px 10px;
}

#html-porcentagem {
    color: var(--branco);
    width: 80%;
    height: 20px;
    text-align: center;
    position: absolute;
}

#css-h3 {
    font-family: 'Kalam', cursive;
    color: #1572B6;
    line-height: 42px;
    font-size: 36px;
}

#css-p {
    margin-bottom: 8px;
}

#css-barra {
    width: 80%;
    height: 20px;
    background-color: var(--cinzaClaro);
    border: 1px solid var(--cinza);
    border-radius: 10px;
    display: flex;
}

#css-progresso {
    background-color: #1572B6;
    width: 90%;
    border-radius: 10px 0px 0px 10px;
}

#css-porcentagem {
    color: var(--branco);
    width: 80%;
    height: 20px;
    text-align: center;
    position: absolute;
}

#js-h3 {
    font-family: 'Kalam', cursive;
    color: #F7DF1E;
    line-height: 42px;
    font-size: 36px;
}

#js-p {
    margin-bottom: 8px;
}

#js-barra {
    width: 80%;
    height: 20px;
    background-color: var(--cinzaClaro);
    border: 1px solid var(--cinza);
    border-radius: 10px;
    display: flex;
}

#js-progresso {
    background-color: #F7DF1E;
    width: 70%;
    border-radius: 10px 0px 0px 10px;
}

#js-porcentagem {
    color: var(--branco);
    width: 80%;
    height: 20px;
    text-align: center;
    position: absolute;
}

#angular-h3 {
    font-family: 'Kalam', cursive;
    color: #DD0031;
    line-height: 42px;
    font-size: 36px;
}

#angular-p {
    margin-bottom: 8px;
}

#angular-barra {
    width: 80%;
    height: 20px;
    background-color: var(--cinzaClaro);
    border: 1px solid var(--cinza);
    border-radius: 10px;
    display: flex;
}

#angular-progresso {
    background-color: #DD0031;
    width: 50%;
    border-radius: 10px 0px 0px 10px;
}

#angular-porcentagem {
    color: var(--branco);
    width: 80%;
    height: 20px;
    text-align: center;
    position: absolute;
}

#php-h3 {
    font-family: 'Kalam', cursive;
    color: #4F5D95;
    line-height: 42px;
    font-size: 36px;
}

#php-p {
    margin-bottom: 8px;
}

#php-barra {
    width: 80%;
    height: 20px;
    background-color: var(--cinzaClaro);
    border: 1px solid var(--cinza);
    border-radius: 10px;
    display: flex;
}

#php-progresso {
    background-color: #4F5D95;
    width: 70%;
    border-radius: 10px 0px 0px 10px;
}

#php-porcentagem {
    color: var(--branco);
    width: 80%;
    height: 20px;
    text-align: center;
    position: absolute;
}

#bs-h3 {
    font-family: 'Kalam', cursive;
    color: #563D7C;
    line-height: 42px;
    font-size: 36px;
}

#bs-p {
    margin-bottom: 8px;
}

#bs-barra {
    width: 80%;
    height: 20px;
    background-color: var(--cinzaClaro);
    border: 1px solid var(--cinza);
    border-radius: 10px;
    display: flex;
}

#bs-progresso {
    background-color: #563D7C;
    width: 100%;
    border-radius: 10px;
}

#bs-porcentagem {
    color: var(--branco);
    width: 80%;
    height: 20px;
    text-align: center;
    position: absolute;
}

#sass-h3 {
    font-family: 'Kalam', cursive;
    color: #CC6699;
    line-height: 42px;
    font-size: 36px;
}

#sass-p {
    margin-bottom: 8px;
}

#sass-barra {
    width: 80%;
    height: 20px;
    background-color: var(--cinzaClaro);
    border: 1px solid var(--cinza);
    border-radius: 10px;
    display: flex;
}

#sass-progresso {
    background-color: #CC6699;
    width: 100%;
    border-radius: 10px;
}

#sass-porcentagem {
    color: var(--branco);
    width: 80%;
    height: 20px;
    text-align: center;
    position: absolute;
}

.projetos-box {
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.projeto {
    width: 400px;
    height: 250px;
    background-color: var(--branco);
    margin: 20px;
    border-radius: 40px;
    border: 2px solid var(--branco);
    box-shadow: 0px 0px 15px 4px var(--branco);
}

.projeto-one {
    width: 405px;
    height: 250px;
    margin: 20px;
    border-radius: 40px;
}

.projeto-one .background {
    width: 100%;
    height: 100%;
    background-image: url('images/img1.png');
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    filter: blur(4px);
    transition: all 350ms ease-in-out;
}

.projeto-one .conteudo {
    color: var(--branco);
    text-shadow: 0px 0px 10px var(--preto);
    width: 100%;
    height: 100%;
    position: relative;
    top: -252px;
    left: -2px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 40px;
    box-shadow: 0px 0px 15px 4px var(--azul);
    transition: all 350ms ease-in-out;
}

.projeto-one .conteudo:hover {
    opacity: 0;
    cursor: pointer;
}

footer {
    background-color: var(--cinzaAzulado);
    height: 140px;
    display: flex;
    justify-content: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

#contato {
    color: var(--branco);
    font-size: 24px;
    margin-top: 24px;
}

#email {
    color: var(--branco);
    font-size: 18px;
    font-weight: 500;
    margin-top: 8px;
}

#redes {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#redes a i {
    color: var(--branco);
    cursor: pointer;
    transition: color 350ms ease;
}

#redes a i:hover {
    color: var(--cinzaClaro);
}

@media (min-width: 1670px) {
    #habilidade-box {
        max-width: 1325px;
    }
}

@media (max-width: 1500px) {
    #carousel-container {
        width: 888px;
    }
}

@media (max-width: 1275px) {
    #carousel-container {
        width: 666px;
    }
}

@media (max-width: 1060px) {
    #carousel-container {
        width: 558px;
    }

    #habilidade-box {
        height: 175px;
    }

    #html-box, #css-box, #js-box, #angular-box, #php-box, #bs-box, #sass-box {
        width: 120px;
        height: 120px;
    }

    .carousel-item {
        margin: 10px 14px;
    }

    .carousel-item div i {
        font-size: 60px;
    }

    .projeto-one {
        width: 350px;
        height: 220px;
    }

    .projeto {
        width: 350px;
        height: 220px;
    }
}

@media (max-width: 940px) {
    #habilidade-box {
        width: 532px;
    }

    .projetos-box {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 700px) {
    #habilidades {
        height: 420px;
    }

    #html-box, #css-box, #js-box, #angular-box, 
    #php-box, #bs-box, #sass-box {
        width: 100px;
        height: 100px;
    }

    .projeto-one .background {
        filter: blur(0px);
        
    }

    .carousel-item {
        margin: 10px 0px;
        min-width: 135px;
    }

    #carousel-container {
        width: 270px;
    }

    #habilidade-box {
        width: 450px;
        height: 150px;
    }

    #prev {
        margin-right: 12px;
    }

    #next {
        margin-left: 12px;
    }
}

@media (max-width: 612px) {
    .box {
        margin: 60px 20px;
    }
}

@media (max-width: 586px) {
    #seta {
        margin-top: 32vh;
    }
}

@media (max-width: 550px) {
    #email {
        font-size: 16px;
    }

    #redes {
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (max-width: 506px) {
    .projetos-box {
        height: 500px;
    }

    #habilidades {
        height: 400px;
    }

    #html-box, #css-box, #js-box, #angular-box, 
    #php-box, #bs-box, #sass-box {
        width: 80px;
        height: 80px;
    }
    
    #carousel-container {
        width: 240px;
    }

    .carousel-item {
        min-width: 120px;
    }

    .carousel-item div i {
        font-size: 45px;
    }

    #habilidade-box {
        width: 330px;
        height: 125px;
    }

    #prev {
        width: 35px;
        margin-right: 0;
    }

    #next {
        width: 35px;
        margin-left: 0;
    }

    .projeto-one {
        width: 300px;
        height: 195px;
    }

    .projeto {
        width: 300px;
        height: 195px;
    }
}

@media (max-width: 480px) {
    #seta {
        margin-top: 26vh;
    }
}

@media (max-width: 350px) {
    #apresentacao p {
        font-size: 24px;
    }

    #apresentacao h1 {
        font-size: 48px;
    }
}