@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

::-moz-selection {
    color: #2e2e2e;
    background: #ddd;
}

::selection {
    color: #2e2e2e;
    background: #ddd;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-tap-highlight-color: transparent;
    	outline: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", serif;
    background-color: #2f2f2f;
    color: #fff;
	line-height: 1;
    letter-spacing: 0.5px;
    scroll-behavior: smooth;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
    width: 100vw;
    position: fixed;
    min-height: 75px;
    max-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    overflow: hidden;
    backdrop-filter: blur(100px);
    transition: all 300ms;
}

header.expanded {
    min-height: 275px;
    max-height: 275px;
}

.header-info {
    height: 100%;
    margin: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-info > ul {
    display: flex;
}

.nav-button {
    background-color: transparent;
    color: #fff;
    border: none;
    margin: 0px 12px;
    padding: 7px 16px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.nav-button > span {
    padding: 3px 4px;
    letter-spacing: 1px;
    position: relative;
    text-decoration: none;
    font-size: 18px;
}

.nav-button > span::after {
    background-color: #fff;
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-button > span:hover::after {
    width: 100%;
    left: 0;
}

.nav-button > span:not(:hover)::after {
    width: 0;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease;
}

#home {
    margin-top: 100px;
}

.container {
    display: flex;
    justify-content: center;
}

.row {
    width: 80%;
    max-width: 1440px;
    margin: 100px 0px;
    display: flex;
}

.row-footer {
    width: 80%;
    max-width: 1440px;
    margin: 60px 0px;
    display: flex;
    justify-content: space-between;
}

.row-projetos {
    margin: 220px 0px;
}

.home-info {
    margin: 150px 0px 300px 0px;
}

.sub-title {
    color: #eee;
    font-size: 36px;
}

.title {
    font-size: 80px;
    font-weight: bold;
}

.resume {
    color: #eee;
    width: 700px;
    margin-top: 18px;
    font-size: 18px;
}

#sobre {
    background-color: #272727;
}

.sobre-title,
.habilidades-title {
    font-size: 36px;
    font-weight: bold;
}

.projetos-title {
    font-size: 48px;
    font-weight: bold;
}

.sobre-habilidades {
    display: flex;
    margin: 130px 0px;
}

.col-6 {
    width: 50%;
}

.col-6:first-child {
    margin-right: 30px;
}

.col-6:last-child {
    margin-left: 30px;
}

.sobre-content {
    font-size: 20px;
}

.sobre-content-mobile {
    font-size: 18px;
    margin-top: 18px;
    display: none;
}

.sobre-content-mobile p {
    margin-top: 10px;
}

.habilidades-content,
.sobre-content {
    margin-top: 24px;
}

.habilidades-item {
    border-bottom: 2px solid #3f3f3f;
    padding: 0px 18px;
    font-size: 26px;
    cursor: pointer;
}

.habilidades-item-header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1.3px;
}

.habilidades-item-header {
    font-weight: bold;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
                 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.habilidades-item-header i {
    color: #fff;
    text-shadow: none;
    transition: transform 300ms;
}

.habilidades-item-body {
    height: 0px;
    padding: 0px 20px;
    margin: 0px;
    font-size: 18px;
    font-weight: 300;
    overflow: hidden;
    transition: all 300ms;
}

.habilidades-item-body p:first-child {
    margin: 0px;
}

.habilidades-item-body p,
.sobre-content p {
    margin-top: 10px;
}

.php {
    color: #484C89;
}

.js {
    color: #D1BF47;
}

.cloud-computing {
    color: #458FC0;
}

footer {
    background-color: #272727;
}

.footer-info p {
    margin: 8px 0px;
}

.footer-social {
    display: flex;
    align-items: center;
}

.footer-social a {
    width: 28px;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: 26px;
    text-align: center;
    transition: all 300ms;
}

.footer-social a:hover {
    color: #2f2f2f !important;
    background-color: #fff;
}

.footer-social a:first-child {
    margin-right: 16px;
}

.box-projeto-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-projeto-title > div {
    position: relative;
}

.projetos-detail-title {
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: -8px;
    left: -10px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    filter: blur(0.5px);
}

.box-projeto {
    height: 90px;
    background-color: #242424;
    display: flex;
    align-items: center;
    border-radius: 18px;
    padding: 0px 30px;
    border: 3px solid #ffffff2e;
    transition: border 300ms;
    margin: 26px 0px;
}

.box-projeto:first-child {
    margin-top: 0px;
}

.box-projeto:last-child {
    margin-bottom: 0px;
}

.box-projeto:hover {
    border: 3px solid #ffffffbf;
}

.box-projeto > i {
    font-size: 14px;
}

.box-projeto > p {
    font-size: 26px;
    margin-left: 20px;
    cursor: default;
}

.box-link-projeto {
    margin-left: auto;
}

.box-link-projeto a {
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.box-link-projeto a:hover {
    filter: brightness(0.80);
}

.header-info-mobile {
    display: none;
}

#btn-show-mobile-header {
    background-color: transparent;
    color: #fff;
    border: none;
    margin-left: 30px;
    font-size: 52px;
    cursor: pointer;
}

.box-btn-mobile-header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
}

#btn-mostrar-mais {
    color: #24a3ec;
    cursor: pointer;
}

#btn-mostrar-mais:hover {
    color: #2196da;
}

@media (max-width: 1174px) {
    .sobre-habilidades,
    .row-projetos {
        flex-direction: column;
    }

    .col-6 {
        width: 100%;
    }

    .col-6:first-child {
        margin-right: 0px;
        margin-bottom: 90px;
    }

    .col-6:last-child {
        margin-left: 0px;
    }

    .sub-title {
        font-size: 30px;
    }

    .title {
        font-size: 62px;
    }

    .resume {
        width: 545px;
    }

    .projetos-title {
        font-size: 38px;
    }

    .header-info {
        margin: 0px;
    }
}

@media (max-width: 680px) {
    header {
        display: block;
    }

    .header-info {
        display: none;
    }

    .header-info-mobile {
        width: 100%;
        height: inherit;
        display: flex;
        flex-direction: column;
    }

    .box-nav-header-mobile ul {
        height: inherit;
    }

    .box-nav-header-mobile ul li {
        margin: 10px 0px;
    }

    .box-nav-header-mobile ul li:first-child {
        margin-top: 0px;
    }

    .box-nav-header-mobile {
        width: 100%;
        height: 200px;
    }

    .nav-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 22px;
    }

    .nav-button i {
        font-size: 8px;
        margin-bottom: 2px;
    }
}

@media (max-width: 540px) {
    .title {
        font-size: 40px;
    }

    .sub-title {
        font-size: 22px;
    }

    .resume {
        width: 355px;
    }

    #btn-show-mobile-header {
        font-size: 42px;
        
    }

    .sobre-content {
        display: none;
    }

    .sobre-title,
    .habilidades-title {
        font-size: 28px;
        font-weight: bold;
    }

    .sobre-content-mobile {
        display: block;
    }

    .footer-info p {
        font-size: 14px;
    }

    .nav-button > span {
        font-size: 16px;
    }

    .projetos-title {
        font-size: 30px;
    }

    .box-projeto > i {
        font-size: 10px;
    }

    .box-projeto > p {
        font-size: 24px;
    }

    .projetos-detail-title {
        width: 24px;
        height: 16px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
    }

    .footer-social a {
        width: 22px;
        height: 22px;
        font-size: 22px;
    }

    .row-footer {
        width: 90%;
    }

    #btn-show-mobile-header {
        margin-left: 22px;
    }

    .home-info {
	margin: 110px 0px 300px 0px;
    }

    .sobre-habilidades {
	margin: 50px 0px;
    }

    .row-projetos {
	margin: 150px 0px;
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 36px;
    }

    .sub-title {
        font-size: 20px;
    }

    .resume {
        width: 320px;
        font-size: 15px;
        margin-top: 12px;
    }

    #btn-show-mobile-header {
        font-size: 38px;
        margin-left: 20px;
    }

    #sobre {
        text-align: center;
    }

    .habilidades-item-header {
        font-size: 22px;
    }

    .box-projeto > p {
        font-size: 22px;
    }

    .footer-social a:first-child {
        margin-right: 8px;
    }

    .footer-social a {
        width: 18px;
        height: 18px;
        font-size: 18px;
    }
}

@media (max-width: 380px) {
    .title {
        font-size: 30px;
    }

    .sub-title {
        font-size: 18px;
    }

    .resume {
        width: 262px;
        font-size: 14px;
        margin-top: 12px;
    }

    #btn-show-mobile-header {
        font-size: 38px;
        margin-left: 20px;
    }

    #sobre {
        text-align: center;
    }

    .habilidades-item-header {
        font-size: 22px;
    }

    .box-projeto > p {
        font-size: 22px;
    }

    .footer-social a:first-child {
        margin-right: 8px;
    }

    .footer-social a {
        width: 18px;
        height: 18px;
        font-size: 18px;
    }
}
